body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #660033;
    font-family: 'Raleway', sans-serif;
    background-color: #000033;
}
main {
    flex: 1 0 auto;
}
nav {
    background-color:#595959;
}

footer {
    background-color:#595959;
}

#j {
    color:#00134d;
}

#c {
    color:#00134d;
}

#k {
    color:#00134d;
}

#m {
    color:#00134d;
}

.juzet {
    color:#00134d;
    font-size: 30px;
}


/*Blog Post*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: whitesmoke;
    font-style: italic;
}

#k:hover { 
    background-color: black;
    color:whitesmoke;
}

#m:hover { 
    background-color: black;
    color:whitesmoke;
}

.juzet:hover { 
    background-color: black;
    color:whitesmoke;
}
 header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
          